@{
    Layout = "";
    Html.AddScriptParts("~/Plugins/Widgets.ThemeGrandNode/Content/js/farbtastic.theme.js");
    Html.AddCssFileParts("~/Administration/Content/farbtastic/farbtastic.css");

    var setBackgroundVar = (!String.IsNullOrEmpty(Model.setCustomBackground) ? Model.setCustomBackground : "#654321");
    var setTextColorVar = (!String.IsNullOrEmpty(Model.setCustomTextColor) ? Model.setCustomTextColor : "#654321");
    var setDarkColorVar = (!String.IsNullOrEmpty(Model.setCustomDarkColor) ? Model.setCustomDarkColor : "#654321");

}
@model Nop4you.Plugin.Widgets.ThemeGrandNode.Models.ConfigurationModel
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Color)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.Color, Model.Colors)
                        </div>
                    </div>
                    <div class="form-group setCustmValues">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.setCustomValues)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.setCustomValues)
                        </div>
                    </div>
                    <div class="form-group customValuesOn">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.setCustomBackground)
                        </div>
                        <div class="col-md-3">
                            <input class="text-box single-line valid colorwell" id="setCustomBackground" name="setCustomBackground" type="text" value="@setBackgroundVar">
                        </div>
                    </div>
                    <div class="form-group customValuesOn">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.setCustomTextColor)
                        </div>
                        <div class="col-md-3">
                            <input class="text-box single-line valid colorwell" id="setCustomTextColor" name="setCustomTextColor" type="text" value="@setTextColorVar">
                        </div>
                    </div>
                    <div class="form-group customValuesOn">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.setCustomDarkColor)
                        </div>
                        <div class="col-md-3">
                            <input class="text-box single-line valid colorwell" id="setCustomDarkColor" name="setCustomDarkColor" type="text" value="@setDarkColorVar">
                        </div>
                        <div class="col-md-6">
                            <div id="picker"></div>
                        </div>
                    </div>
                    <div class="form-group styleSwitcher">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.showSwitchStyle)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.showSwitchStyle)
                        </div>
                    </div>
                    <div class="form-group styleSwitcher">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.showWidgetZone)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.showWidgetZone)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.setMenuBarColor)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.setMenuBarColor)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
                        </div>
                    </div>

                    <div class="plugin-intro-table">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="alert alert-info">
                                    <strong>If you found any bug or have any development proposal, please visit <a href="http://nop4you.com/grandnode-theme-nopcommerce" target="_blank">product page</a> and create ticket to send me info.</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

}
<style>
    .customValuesOn {
        display: none;
    }
    .adminCustomValuesToggleSet {
        display: block;
    }
    .hideIfOwnOn {
        display: none;
    }
</style>
<script>
    $(document).ready(function () {
        $("#setCustomValues").change(function () {
            $(".customValuesOn").toggleClass("adminCustomValuesToggleSet", this.checked)
        }).change();

        $("#setCustomValues").change(function () {
            $(".styleSwitcher").toggleClass("hideIfOwnOn", this.checked)
        }).change();
    })
</script>

